@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
  <!-- Script for polyfilling Promises on IE9 and 10 -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="~/dist/app.js"></script>
}

<div id="profile-main-vue">

  <!-- <transition name="fade">
    <router-view></router-view>
  </transition> -->
</div>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Lorum ipsum bacon.</p>
</div>

